@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
@media ( max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 23px
      &__item
        height: 15px
        line-height: 15px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    margin-right: 73px
    margin-left: 47.25px
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    height: 210px
  .map
    width: 340px
    height: 210px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        max-width: 580px
@media ( max-width: 767px)
  .container
    max-width: 576px
    width: 88%
  .navbar
    &__search, &-menu, &__user
      display: none
    &__search
    &-top
      height: 70px
      padding-top: 28px
      padding-bottom: 28px
      line-height: 60px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: 20%
    margin-right: 15%
  .hotel
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 100%
    &-slider
      height: 350px
  .booking
    width: 100%
    margin-bottom: 20px
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 88%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 31px
        &--prev
          left: 47%
          margin-left: -80px
          transform: translate(-50%, 0)
        &--next
          right: 47%
          margin-right: -80px
          transform: translate(50%,0)
    &__title
      font-size: 30px
      line-height: 38px
@media ( max-width: 576px )
  .logo
    width: 99px
  .hotel
    padding-top: 0
    .stars
      flex-basis: 20%
      margin-right: 35%
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .reviews
    &__title
      margin-top: 0
      margin-bottom: 42px
  .subscribe
    width: 100%
@media (max-width: 479px) and (min-width: 320px)
  .hotel
    padding-top: 0
    .stars
      flex-basis: 20%
      margin-right: 6%
    &-grid
      margin-top: 18px
  .hotel
    &__slider
      height: 179px
  .booking
    width: 100%
    height: 210px
    margin-bottom: 20px
  .slider
    width: 100%
  .map
    width: 100%
    height: 172px
  .newsletter
    &-title
      font-style: normal
      font-weight: 300
      font-size: 20px
      line-height: 25px
      margin-bottom: 37px
      &__strong
        font-style: normal
        font-weight: 600
        font-size: 30px
        line-height: 38px
        margin-top: 5px
  .reviews
    &__title
      max-width: 245px
      margin: auto
      margin-top: 0
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__text
        width: 219px
        height: 266px
        text-align: left
